* {
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;}
:root{
--primary-text-color: #757575;
--title-text-color: #212121;
}
body {
background-color: #FFFFFF;
font-family: Roboto, sans-serif;}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
p{
    margin: 0;
}

.header-mail:hover,
.header-number:hover,
.header-mail:focus,
.header-number:focus,
.portfolio-mail:hover,
.portfolio-tel:hover,
.portfolio-mail:focus,
.portfolio-tel:focus,
.footer-mail:hover,
.footer-tel:hover,
.footer-tel:focus,
.footer-mail:focus{
    color: #2196F3
}
ul {
list-style: none;
}

.header-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.17;
letter-spacing: 0.03em;
text-decoration: none;
color: #2196F3;
}
.acent{
color: #000000;
}
.header-studio{
position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;
font-weight: 500;
font-family: 'Roboto';
font-style: normal;
font-size: 14px;
text-decoration: none;
line-height: 1.14;
letter-spacing: 0.02em;
color: #2196F3;
}
.buton{
color: #FFFFFF;
background-color: #2196F3;
line-height: 1.88;
font-weight: 700;
font-size: 16px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}
.header-portfolio{
position: absolute;
width: 76px;
height: 16px;
left: 552px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
text-decoration: none;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.header-contacts{
position: absolute;
width: 68px;
height: 16px;
left: 679px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
text-decoration: none;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.header-mail{
position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
text-decoration: none;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575
}
.header-number{
position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
text-decoration: none;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.container{
    padding-left: 215px;
}
.name-theme{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
padding: 200px;
padding-left: 452;
}
.buton{
position: absolute;
left: 732px;
top: 440px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
}
.main-theme{
height: 600px;
background: #2F303A;
}
.benefits-title-one{
position: absolute;
left: 215px;
top: 774px;
}
.benefits-title-two {
position: absolute;
left: 515px;
top: 774px;
}
.benefits-title-three {
position: absolute;
left: 815px;
top: 774px;
}
.benefits-title-four {
position: absolute;
left: 1115px;
top: 774px;

}
.benefits-description-one {
position: absolute;
left: 215px;
top: 800px;
}
.benefits-description-two {
position: absolute;
left: 515px;
top: 800px;
}
.benefits-description-three {
position: absolute;
left: 815px;
top: 800px;
}
.benefits-description-four {
position: absolute;
left: 1115px;
top: 800px;
}
.benefits-title-one,
.benefits-title-two,
.benefits-title-three,
.benefits-title-four{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: #212121;
}
.benefits-description-one,
.benefits-description-two,
.benefits-description-three,
.benefits-description-four{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
.position{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #757575;
}
.product-title{
position: absolute;
width: 376px;
height: 42px;
left: 612px;
top: 969px;

}
.product-planshet {
position: absolute;
left: 215px;
top: 1061px;
}
.product-telephone {
position: absolute;
left: 615px;
top: 1061px;
}
.product-model {
position: absolute;
left: 1015px;
top: 1061px;
}
.team-title{
position: absolute;
width: 264px;
height: 42px;
left: 668px;
top: 1543px;
}
.product-title,
.team-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.teamone{
position: absolute;
left: 215px;
top: 1635px;
background: url(4853.jpg);
border-radius: 0px;
}
.teamtwo{
position: absolute;
left: 515px;
top: 1635px;
background: url(5844.jpg);
border-radius: 0px;
}
.teamthree{
position: absolute;
left: 815px;
top: 1635px;
background: url(16166.jpg);
border-radius: 0px
}
.teamfour{
position: absolute;
left: 1115px;
top: 1635px;
}
.name-one{
position: absolute;
left: 275px;
top: 1927px;
}
.name-two {
position: absolute;
left: 596px;
top: 1925px;
}
.name-three {
position: absolute;
left: 882px;
top: 1925px;
}
.name-four {
position: absolute;
left: 1183px;
top: 1925px;
}
.name-one,
.name-two,
.name-three,
.name-four{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.position-one{
position: absolute;
left: 285px;
top: 1954px;
}
.position-two {
position: absolute;
left: 577px;
top: 1954px;
}
.position-three {
position: absolute;
left: 912px;
top: 1954px;
}
.position-four {
position: absolute;
left: 1207px;
top: 1954px;
}
.position-one,
.position-two,
.position-three,
.position-four {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-studia{
position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
text-decoration: none;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.portfolio-portfolio{
position: absolute;
width: 76px;
height: 16px;
left: 552px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
text-decoration: none;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #2196F3;
}
.portfolio-contacts{
position: absolute;
width: 68px;
height: 16px;
left: 679px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
text-decoration: none;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.portfolio-mail{
position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
text-decoration: none;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.portfolio-tel{
position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
text-decoration: none;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.but-one{
position: absolute;
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
}
.but-two {
position: absolute;
    width: 84px;
    height: 26px;
    left: 598px;
    top: 180px;
}
.but-three {
position: absolute;
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
}
.but-four {
position: absolute;
left: 887px;
top: 180px;
}
.but-five {
position: absolute;
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;
}
.but-one,
.but-two,
.but-three,
.but-four,
.but-five{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.portfoliofoto-one{
position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 262px;
}
.portfoliofoto-two {
position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 262px;
}
.portfoliofoto-three {
position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 262px;
}
.portfoliofoto-four {
position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 696px;
}
.portfoliofoto-five {
    position: absolute;
width: 370px;
    height: 294px;
    left: 615px;
    top: 696px;
}
.portfoliofoto-six {
position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 696px;
}
.portfoliofoto-seven {
position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1130px;
}
.portfoliofoto-eight {
position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1130px;
}
.portfoliofoto-nine {
position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1130px;
}
.portfolio-project{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-species{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}
.footer-theme
 {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;

}
.footer-two{
    position: absolute;
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 1628px;
}
.footer-theme,
.footer-two{
background: #2F303A;
}
.footer-logo{
font-family: 'Raleway';
text-decoration: none;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}
.acent-footer{
color: #FFFFFF;
}
.footer-adress{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
text-decoration: none;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.footer-mail{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
text-decoration: none;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
text-decoration: none;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
